<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prana">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
       android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRANA">
        <activity android:name=".chat"></activity>
        <activity android:name=".task" />
        <activity android:name=".to_do_list" />
        <activity android:name=".bmi" />
        <activity android:name=".exercises_demo" />
        <activity android:name=".exercises" />
        <activity android:name=".physical_health" />
        <activity android:name=".playList" />
        <activity android:name=".music_categories" />
        <activity android:name=".motivational_quotes" />
        <activity android:name=".logo_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mental_health" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>